@import "@vkontakte/vkui/dist/vkui.css", "variables.scss",
  "@vkontakte/vkui/dist/unstable.css";

body,
.Header {
  user-select: none;
}

body[scheme="bright_dark"],
[scheme="bright_dark"],
.vkuibright_dark,
body[scheme="vkcom_dark"],
[scheme="vkcom_dark"],
.vkuivkcom_dark,
.dark {
  .toast {
    background: #232324;
    color: #fff;
  }
}

.vkuiTabbarItem {
  .vkuiTappable {
    display: none;
  }
}

.vkuiPanelHeader__content-in,
.vkuiModalPageHeader__content-in {
  font-weight: 400 !important;
}

.SimpleCell {
  border-radius: 8px;
}

.navigation__item-selected {
  background-color: var(--vkui--color_background--hover);
}

.panelPadding {
  margin: 5px 10px;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icon-container {
  width: 110px;
  height: 100px;
  position: relative;
  margin: 20px;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.stack {
  z-index: 9;
}

.base-placeholder {
  margin-top: 25%;
}

.tabbar-icon-active {
  color: var(--tabbar_active_icon, var(--vkui--color_icon_accent_themed));
}

.SimpleCell {
  padding-left: 0px;
  padding-right: 0px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 15px 0;
}

.user-name {
  margin-top: 10px;
  margin-bottom: 8px;
}

.user-city,
.placeholder-text {
  margin-bottom: 24px;
  color: var(--vkui--color_text_secondary);
}

.pb0 {
  padding-bottom: 0px;
}

.mr5 {
  margin-right: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mt5 {
  margin-top: 5px;
}
